.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    max-width: 400px;
    margin: 40px 10px 0;
  }
}

.mat-card {
  border-radius: 0;
}

.mat-card-title {
  font-size: 14px;
  text-transform: uppercase;
}

mat-checkbox {
  font-weight: lighter;
}

.mat-list-base .mat-list-item {
  height: auto;
  margin: 10px 0;
}

::ng-deep mat-checkbox .mat-checkbox-label {
  display: block;
  max-width: 300px;
  white-space: pre-line;
}

.mat-checkbox-checked {
  text-decoration: line-through;
}

::ng-deep mat-checkbox .mat-checkbox-inner-container {
  width: 20px;
  height: 20px;
  margin: 0 25px 0 0;
}

::ng-deep mat-checkbox .mat-checkbox-frame {
  border-radius: 0;
  border-width: 1px;
  border-color: lightgray;
}

::ng-deep mat-checkbox .mat-checkbox-layout {
  align-items: flex-start;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: rgb(58, 175, 218);
}
