<form [formGroup]="createForm" (ngSubmit)="submitHandler()">
  <div class="form__create-title">
    Новая задача
  </div>
  <div class="mat-form-field-group">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Название задачи</mat-label>
        <input matInput placeholder="Название задачи" formControlName="text" required>
        <mat-error *ngIf="textFormControl.invalid">{{getErrorMessage(textFormControl)}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Категория</mat-label>
        <mat-select formControlName="projectId" placeholder="Категория">
          <mat-option *ngFor="let project of projects" value="{{project.id}}">{{project.title}}</mat-option>
          <mat-option (click)="openCreateDialog()">Создать новую категорию</mat-option>
        </mat-select>
        <mat-error *ngIf="projectIdFormControl.invalid">{{getErrorMessage(projectIdFormControl)}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="create-form-button-list">
    <button class="create-form-button create-form-button_cancel" mat-raised-button type="button" (click)="closeCreateDialog()">Отмена</button>
    <button class="create-form-button create-form-button_ok" mat-raised-button color="primary" type="submit" [disabled]="createForm.invalid">Ок</button>
  </div>
</form>
